<div class="container-fluid">
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a href="#">
					<img src="assets/img/logo/logo.png" alt="Logo" style="height:50px">
				</a>
			</li>
			<!--<li class="nav-item dropdown" style="padding-top: 5px;">
        <a href class="nav-link dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-sort"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li *ngFor="let a of applications"><a class="dropdown-item" href="{{a.defaultURL}}"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;&nbsp; {{a.applicationName}}</a></li>
        </ul>
      </li>-->
			<li>
			</li>

			<li class="nav-item">
				<h3 class="navbar-title">
					<small class="fw-semi-bold"> Site app</small>
				</h3>
			</li>

		</ul>
		<ul class="nav navbar-nav navbar-right hidden-md-up">
			<li class="nav-item">

			</li>
		</ul>
	</div>

	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav pull-xs-right">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle dropdown-toggle-notifications" id="notifications-dropdown-toggle" data-toggle="dropdown">
					<span class="thumb-sm avatar pull-xs-left">
                    <img class="img-circle" src="assets/img/people/unknown.jpg" alt="...">
                </span> &nbsp; <strong>{{fullName}}</strong>&nbsp;
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle dropdown-toggle-notifications" id="notifications-dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-magic" aria-hidden="true"></i> Help
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle dropdown-toggle-notifications" id="notifications-dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-cogs" aria-hidden="true"></i> Preferences
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle dropdown-toggle-notifications" id="notifications-dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-clock-o text-black" aria-hidden="true"></i> 13PM UTC
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#"> 
          Date: 10/17/2016 Time: 7:28 PM Time Zone: UTC
          </a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle dropdown-toggle-notifications" id="notifications-dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-sign-out" aria-hidden="true"></i> Logout
				</a>
			</li>
		</ul>
	</div>
</div>
<div style="background-color: white;">
	<div class="btn-group">
		<label btnradio="'Left'" class="btn btn-gray" style="background-color: white; border-color: white;">
        <i class="fa fa-user" aria-hidden="true"></i>
        Menu
      </label>
		<!--<label btnradio="'Left'" class="btn btn-gray" style="background-color: white; border-color: white;">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        Shift Planner
      </label>
		<label btnradio="'Left'" class="btn btn-gray" style="background-color: white; border-color: white;">
        <i class="fa fa-magic" aria-hidden="true"></i>
        Management
      </label>
		<label btnradio="'Left'" class="btn btn-gray" style="background-color: white; border-color: white;">
        <i class="fa fa-search" aria-hidden="true"></i>
        Search
      </label>
		<label btnradio="'Left'" class="btn btn-gray" style="background-color: white; border-color: white;">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        Administration
      </label>
		<label btnradio="'Left'" class="btn btn-gray" style="background-color: white; border-color: white;">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        Reports
      </label>-->

	</div>
</div>